{% extends 'base.html' %}
{% block content %}
<div class="container mb-5">
  <div class="bg-white">
    <h2 class="mb-4">Transaction List</h2>
    {% if group == 'Cashier' %}
    <a href="{% url 'send_transaction' %}" class="btn btn-primary mb-3">Send Money</a>
    {% endif %}

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Status</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for tx in transactions %}
          <tr>
            <td>{{ tx.sender.username }}</td>
            <td>{{ tx.receiver.username }}</td>
            <td>{{ tx.amount }}</td>
            <td>{{ tx.currency }}</td>
            <td>{{ tx.status }}</td>
            <td>{{ tx.created_at|date:"Y-m-d H:i" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}